.container_paneacionEP {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container_paneacionEP {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #999898;
    border-radius: 5px;
    background-color: #f9f9f9;
    overflow-y: auto; /* Establece el desplazamiento vertical */
    max-height: 780px; /* Altura máxima para mostrar el desplazamiento */
    border: 1px solid #ccc;
    
} 


.h1-planeacion {
    text-align: center;
    font-size: 1.5rem; /* 150% del tamaño de fuente predeterminado */
    margin-bottom: 10px; /* Añade un espacio debajo del título */
    font-weight: 700;
}

.h2-planeacion {
    text-align: center;
    font-size: 1.2rem; /* 150% del tamaño de fuente predeterminado */
    margin-bottom: 10px; /* Añade un espacio debajo del título */
    font-weight: 700;
}

/* .planeacion-cont table {
    width: 130%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.planeacion-cont th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 90%;
   
} */

.header-table-planeacion{
    background-color: #39a900 !important;
    height: 10rem;
}
.header-table-planeacion tr th{
    border-right: 1px solid #ccc ;
}
#planForm tbody tr td {
    border-right: 1px solid #ccc ;
}

/* th {
    background-color: #f2f2f2;
} */

/* input[type="text"], textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    
} */





#planForm #observaciones {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#planForm #observaciones th {
    width: 20%;
    padding: 10px;
    background-color: #ddd;
}



#tablaFirmas {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#tablaFirmas th {
    width: 25%;
    text-align: left;
    padding: 8px;
}

#tablaFirmas td {
    padding: 8px;
}



#guardar-planeacionep, input[type="button13"] {
    background-color: #39a900;
    margin: 0 auto; /* Esto centrará horizontalmente el botón */
    display: block; /* Asegura que ocupe todo el ancho disponible */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    border-radius: 8px; /* Borde redondeado */
    cursor: pointer; /* Cursor al pasar sobre el botón */
}

#guardar-planeacionep:hover, input[type="button13"]:hover {
    background-color: #ccc;
}

.custom-button {
    background-color: #39a900; /* Color de fondo */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 16px; /* Tamaño de fuente */
    margin: 4px 2px; /* Margen */
    cursor: pointer; /* Cursor al pasar sobre el botón */
    border-radius: 8px; /* Borde redondeado */
}

.custom-button:hover {
    background-color: #ccc;
}

.textarea {
    width: 100%; /* Hacer que la casilla ocupe todo el ancho disponible */
    height: auto; /* La altura se ajustará automáticamente según el contenido */
    font-size: 14px; /* Tamaño de fuente deseado */
}
.signature-canvas{
    cursor: crosshair;
    background-color: #f8f8f8;

   
}
.campo-firma{
    /* width: 100%;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid rgb(231, 231, 231); */
    /* border-radius: 16px;  */
    padding: 16px;
    /* display: flex;
    flex-direction: column; */
    overflow: scroll;
    
    
   
}
.campo-firma i{
    font-size: 2rem !important;
    /* position: absolute; */
    right: 5%;
    color: red;
    cursor: pointer;
   
    

    
}
.campo-firma .close{
    font-size: 3rem;
    background-color: transparent;
    color: black;
    padding: 0px;
    padding-left: 10px;
}
.head-signature{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-guardar-firma{
    display: flex;
    width: 100% !important;
    justify-content: end !important;
    
}
.btn-success{
    background-color: #39a900 !important;

}
.btn-success:hover{
    background-color: var(--color-corp-azul) !important;
}
.h6-table{
    margin-bottom: 3px !important;
}
.recolecion-evidencias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}
.recolecion-evidencias h6{
    text-align: center;
}
.recolecion-evidencias tr th{
    height: 100% !important;
}
.recolecion-evidencias .evi-recoleccion{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    
}


.input-planeacion{
    width: 100% !important;
    height: 3rem;
    border: 1px solid #ccc !important;
}
.observaciones-planeacion{
    display: flex;
    flex-direction: column;
}
.observaciones-planeacion textarea{
    text-align: initial !important;
}
.camp-firma{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    border: 1.5px solid rgba(0, 0, 0, .05);
    background-color: #F0EFF4;
    padding: 10px;
}
.camp-firma .nombre-ente, .nombre-aprendiz-ep, .nombre-instructor{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.camp-firma .nombre-ente input{
    width: 50%;
}
.campo-firma-planeacion{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 5px;
    width: 20%;
}
.img-signature{
    width: 100%;
    height: 6rem;
    background-color: #ddd;
    padding: 5px;
}
.btns-sigue-atras{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding-top: 1rem;
}
.btns-sigue-atras button{
    background-color: #70B22D !important;
    font-weight: 600;
}
.btns-sigue-atras button:hover{
    background-color: var(--color-corp-azul) !important;
}
.planeacion-cont{
    overflow-x: scroll !important;
    max-height: 600px;
    padding-bottom: 4rem;
    padding-top: 2rem !important;
    border: 1px solid #ccc !important;
    margin-top: 10px !important;
    
}
.popup-content{
   display: flex;
   /* justify-content: center;
   align-items: center; */
   width: auto !important;
}
.paginacion-formato span{
    font-size: 5rem;
}
.pagination{
    display: none !important;
}


@media only screen and (max-width: 768px) {
    .btn-ant-desp{
        display: none;
    }
    .pagination{
        display: flex !important;
        flex-direction: row !important;
    }
    .btns-sigue-atras{
        height: 3rem;
        margin-top: 1.3rem;
    }
    .btn-atras b{
        display: none;
    }
    
}
