body{
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-color: #fff; 
    margin: 0;  
}

.contenedor-lista{
    margin: 0px 10rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 25vh !important;
}
.ficha img{
    width: 250px;
}
.lista{
   width: 50%;
}
.texto{
    margin-top: 20px;
   
}
.texto p{
    margin-left: 20px;
}
/* .seleccion{
    background-color: var(--color-iconos);
    border-radius: 5px;
    border: none;
    height: 2rem;
    color: #fff;
} */
.seleccion {
    /* Estilos generales para el select */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden; /* Oculta las opciones por defecto */
    cursor: pointer;
    background-color: var(--color-iconos);
    color: #fff;
}




.titulo-aprendices{
    margin-left: 2rem;
}

.lista-aprendices li img{
    width: 30px;
    
}
.img-aprendiz{
    display: flex;
    align-items: center;
}
.lista-aprendices li{
    font-size: 20px;
    list-style: none;
    border-bottom: 1px solid black;
    width: 100%;
    margin-bottom: 3px;
}
.lista-aprendices li a{
    margin-left: 10px;
    color: var(--color-iconos);
    font-size: 16px;
}
.lista-aprendicesli p{
    margin-left: 30px;
    margin-top: 0px;
    font-size: 15px;
}
