body{
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-color: #fff;   
}

.contenedor{
    display: flex;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 500px;
    margin-left: 10%;
    margin-top: 10px;
    background-color: #ccc;
}
.datos{
    width: 70%;
    height: 350px;
    margin-top: 23px;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
}
.nombre-usuario{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}
.bienvenido{
    font-size: 3rem;
    margin: 0px;
}
.titulo{
    font-size: 20px;
    text-align: center;
}
.h3{
    font-size: 18px;
    margin-left: 10px;
    
}
.btn-modificar{
    background-color: #39a900;
    color: #fff;
    margin-left: 33%;
    width: 35%;
    height: 30px;
    border: none;
    border-radius: 5px;
}
.btn-modificar:hover{
    background-color: #38a900d3;
    cursor: pointer; 
}
  