/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Work Sans", sans-serif;
}
  
  .container-fichas {
    width: 40%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    top: 1rem !important;
    margin-top: 3rem;
    border: 1.5px solid rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    
  }
  .encabezado-fichas{
    height: 100px;
    background-color: #39a900;
    font-size: 40px;
    color: white;
    padding: 20px;

  }
  
  .container-fichas h2 {
    color: #333;
    margin-bottom: 1.5rem !important;
  }
  
  /* Estilos del formulario */
 .container-fichas form {
    display: flex;
    flex-direction: column;
    grid-gap: 0px !important;
    
   
  }
  
  .container-fichas label {
    font-weight: bold;
    display: flex;
    align-items: center;

  }
  
  .container-fichas input {
    width: 100% ;
    padding: 10px !important;
    margin-top: 5px;
    margin-bottom: 25px;
    box-sizing: border-box !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    font-size: 16px !important;
  }
  .container-btn{
    display: flex;
    justify-content: center;
  }
  #registrar-aprendiz,.registrar-ficha, .listado-fichas, #btn-editar-fichas, #regresar-registro, #save, #ver {
    border-radius: 10px;
    width: 100%;
   background-color: var(--color-iconos);
    font-size: 18px;
    font-weight: 500;

  }
  #registrar-aprendiz:hover,.registrar-ficha:hover, .listado-fichas:hover, #btn-editar-fichas:hover, #regresar-registro:hover, #save:hover, #ver:hover {
    background-color: #39A900 !important;
  }
  
  /* Estilos de la lista de fichas */
  .lista-fichas {
    list-style: none;
    padding: 0;
  }
  
  .lista-fichas li {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contenedor-fichas{
    margin-top: 20px;
    padding: 30px;
  
  }
  .contenedor-fichas ul{
    margin-top: 20px;
  }
  .btns-lista-fichas{
    margin: auto;
    
  }
  #btn-delete-fichas{
    background-color: #f44336;
    border-radius: 5px;
    margin-left: 10px;
  }

  .title-button{
    display: flex;
    justify-content: space-between;
  }
  /* Estilos de los botones de la lista */
  li button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
  }
  .btn-editar{
    background: var(--color-iconos); 
  }
  .btn-delete{
    background-color: #f44336;
  }

  .btn-delete:hover{
    background-color: #f05f54;
  }
  .btns-crud{
    display: flex;
  }
  
  li button + button {
    margin-left: 10px;
  }
  
  .btn-editar:hover {
    background-color: #53d32f;
  }
  
  .List-fichas{
    margin-top: 2rem;
  }
  .cont-fichas{
    display: flex;
    margin-left: 5rem !important;

  }
  .btn-fichas{
    display: flex;
    flex-direction: column;
    width: 15rem;
    margin-top: 1.5rem;
    padding-top: 4rem;
    margin-left: 4rem;
    gap: 1rem;
    background-color: #F0EFF4;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    padding-left: 4px;
    padding-right: 4px;
    border: 1.5px solid rgba(0, 0, 0, .05) 
  }
  .btn-fichas-aprendiz{
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin-top: 1.5rem;
    padding-top: 4rem;
    margin-left: 5px;
    gap: 1rem;
    background-color: #F0EFF4; 
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05); 
    padding-left: 4px;
    padding-right: 4px;
     border: 1.5px solid rgba(0, 0, 0, .05)
  }
  .rojo-label{
    color: #f44336;
  }
  .btn-atras{
    position: fixed !important;
    top: 160px;
    right: 50px;
    border-radius: 100%;
    padding: 10px;
    width: 80px;
    height: 25px;
    text-align: center;
    font-size: 13px;
    /* font-family: helvetica neue, Helvetica, Arial, sans-serif; */
    text-decoration: none;
    color: #000;
  }
  .btn-atras:hover{
    color: #000;
  }
  .btn-atras img{
    width: 50px;
  }

  @media only screen and (max-width: 768px) {
    .cont-fichas{
      margin: 0px !important;
      flex-direction: column ;
    }
    .btn-fichas{
      margin: 0px;
      width: 100%;
      padding-top: 1rem;
      gap: 5px;
    }
    .container-fichas{
      width: 100%;
      margin-top: 10px;
    }
    .btn-fichas-aprendiz{
      margin-top: 1rem;
      padding-top: 0px;
    }
    .btn-atras{
      top: 80px;
      position: absolute !important;
      right: 10px;
    }
    #ver{
      width: 80%;

    }
    .btn-fichas-aprendiz{
      background-color: transparent;
      border: none;
    }
  }