/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Work Sans", sans-serif;
}
  
  .container-fichas {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    top: 1rem !important;
    height: 100vh;
  }
  .encabezado-fichas{
    height: 100px;
    background-color: #39a900;
    font-size: 40px;
    color: white;
    padding: 20px;

  }
  
  h2 {
    color: #333;
  }
  
  /* Estilos del formulario */
  form {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    
   
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  .container-btn{
    display: flex;
    justify-content: center;
  }
  button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 10rem;
  }
  #registrar-aprendiz,.registrar-ficha, .listado-fichas, #btn-editar-fichas, #regresar-registro {
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Estilos de la lista de fichas */
  .lista-fichas {
    list-style: none;
    padding: 0;
  }
  
  .lista-fichas li {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contenedor-fichas{
    margin-top: 20px;
    padding: 30px;
  
  }
  .contenedor-fichas ul{
    margin-top: 20px;
  }
  .btns-lista-fichas{
    margin: auto;
    
  }
  #btn-delete-fichas{
    background-color: #f44336;
    border-radius: 5px;
    margin-left: 10px;
  }

  .title-button{
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  /* Estilos de los botones de la lista */
  li button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
  }
  .links{

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .enlace-con-icono{
    width: 50px;
    height: 30px;
  }
  .btn-editar{
    background: var(--color-iconos); 
  }
  .btn-delete{
    background-color: #f44336;
  }

  .btn-delete:hover{
    background-color: #f05f54;
  }
  .btns-crud{
    display: flex;
  }
  
  li button + button {
    margin-left: 10px;
  }
  
  .btn-editar:hover {
    background-color: #53d32f;
  }
  
  .List-fichas{
    margin-top: 2rem;
  }