@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Work Sans", sans-serif;
}
body{
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-color: #fff; 
    margin: 0;  
}

.contenedor-lista{
    display: flex;
    justify-content: space-around;
    width: 100%;
    
    height: 100vh;
    gap: 4rem;
 
}
.ficha img{
    width: 250px;
}
.lista{
   width: 100%;
    margin-top: 10px; 
    border-radius: 10px;
  
}
.texto{
    margin-top: 20px;
   
}
.texto p{
    margin-left: 20px;
}
/* .seleccion{
    background-color: var(--color-iconos);
    border-radius: 5px;
    border: none;
    height: 2rem;
    color: #fff;
} */
.seleccion {
    /* Estilos generales para el select */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden; /* Oculta las opciones por defecto */
    cursor: pointer;
    background-color: var(--color-iconos);
    color: #fff;
}




.titulo-aprendices{
    margin-left: 2rem;
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #00324D;
}

.lista-aprendices li img{
    width: 30px;
    margin-top: 12px;
    
}
.lista-aprendices{
    gap: 1rem;
    padding: 0px;
    width: 100%;
    
}
.img-aprendiz{
    display: grid;
    align-items: center;
    grid-template-columns: 2rem 1fr ;
    grid-template-rows: 1fr;

    

}
.btns-doc-aprendiz-lista{
    display: flex;
  

}
.btns-doc-aprendiz-lista a{
    font-size: 1rem !important;
    color: #fff !important;
    /* height: 2rem; */
}
.lista-aprendices li{
    font-size: 20px;
    list-style: none;
    border-bottom: 1px solid rgba(89, 89, 89, 0.2);
    width: 100%;
    margin-bottom: 3px;
    /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2); */
    padding: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    background-color: #F0EFF4;
    border: 1.5px solid rgba(0, 0, 0, .05);
    border-radius: 10px;
  

}
.lista-aprendices li a{
    margin-left: 10px;
    color: var(--color-iconos);
    font-size: 1.5rem;
    color: #00324D;
    font-weight: 500;
  
}
.lista-aprendices li p{
    margin-left: 45px !important;
    margin-top: 0px !important;
    font-size: 16px;
    margin-bottom: 0px !important;
    font-weight: 500;
}
.ficha .info{
    width: 20rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 3px;
    box-shadow: 0px 0px 8px rgba(89, 89, 89, 0.2); 
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 2rem;


}
.ficha img{
    width: 10rem;
}
.ficha h4{
    color: #00324D;
    text-align: center;
}
@media only screen and (max-width: 768px) {
    .contenedor-lista{
        flex-direction: column;
        height: auto;
        gap: 5px;
    }
    .ficha .info{
        width: 100%;
        margin-top: 5px;
        padding: 5px;
    }
    .info img{
        display: none;
    }
    .seleccion{
        display: none;
    }
    .texto{
        margin-top: 0px;
    }
    .lista{
        width: 100%;
        margin: 0px;
    }
    .titulo-aprendices{

        margin: 0px;
        font-size: 1.5rem;
        text-align: center;
    }
    .lista-aprendices li a{
        color: var(--color-iconos);
        font-size: 1.2rem;
        margin-left: 0px;
    }
    .btns-doc-aprendiz-lista{
        flex-direction: column;
        gap: 5px;
    }
    .lista-aprendices li{
        padding: 5px;
        justify-content: center;
        gap: 0px;
       
    }
    .ficha h4{
        font-size: 1rem;
    }
    .img-aprendiz{
        width: 100%;
        grid-template-columns: 1fr;
    }
    .lista-aprendices li img{
        display: none;
    }
    .lista-aprendices li p{
        margin-left: 0px !important;
    }
}