@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Work Sans", sans-serif;
}



.container{
    margin-top: 0px !important;
    padding-top: 0px !important;
   

}
.fichas{
   width: 100%;
   margin-bottom: 0px;
   margin-top: 2rem;
}
.fichas , h2{
  text-align: center;
  margin-bottom: 2rem;
}
.buscar{
    display: flex;
    align-items: center;
    margin-right: 5px;
    width: 50%;
}
.buscar img{
    margin-right: 10px;
    width: 25px;
}
.btn-buscar{
  width: 6rem;
  background-color: var(--color-iconos);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 1.5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s;
}
.cerrar-sesion{
  color: #fff;
  font-weight: 600;
}

.form-control{
    margin-left: 10px;
    width: 200px;
    height: 25px;
    
} 
.contendor-principal-info{
    display: flex;
    flex-direction: column;
    width: 100%;
   
  
    
}

.info-fichas{
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}
.rectangulo-ficha {
  width: 200px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #e2e2e2;
  margin-left: 43px;
  margin-bottom: 5px;
  height: 16rem;
  text-decoration: none;
}
.rectangulo-ficha:hover{
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
.logo-info{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e2e2e2;
  padding: 10px;
}
.texto-info{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.aprendiz,.title2, .ficha, .title1{
  margin: 0;
}
.title1{
  color: black;
  font-weight:600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  font-weight: 600;
  
}
.title2{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
}
.aprendiz{
  color: #8b8a8a;
}
.codigo-ficha{
  display: flex;
  align-items: center;
  gap: 10px;
}

.ficha{
  color: #8b8a8a;
}
.numero-ficha{
  margin: 0;
  color: #000;
}
  
.ficha-info{
  text-decoration: none;
}