@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Work Sans Regular", sans-serif;
}
body{
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-color: #fff;   
}
#header{
    height: 100px;
    background-color: #04324D;
    font-size:40px;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: 500;
}
.container-uno{
    width: 50%;
    background-color: #fff;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    border-radius: 10px;
    border: 1.5px solid rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    height: 48rem;
    overflow: scroll;
}
.container-uno form{
    gap: 0px;
}
.container-uno h2 ,#datos-emp{
    margin-bottom: 1.5rem !important;
    border-bottom: 1.5px solid rgba(0, 0, 0, .05);
    background-color: #f8f8f8;
    padding: 10px;
    color: #04324D;
}
#save{
    margin-top: 1rem;
}
.container-uno input{
    margin-bottom: 20px;
    background-color: #f8f8f8 !important;
    height: 2rem;
}
.container-uno label{
    display: flex;
    gap: 5px;
    align-items: center;
}
/* .contenedor-dos{
    padding: 20px;
    width: 60%;
    background-color: #ccc;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
    text-align: center;
} */
.botones{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
/* #save, #ver{
    border-radius: 5px;
    margin: 20px;
    height: 70px;
    width: 100%;
}  */
.container-btn{
    padding: 20px;
    gap: 100px;
    
}
.tabla-uno{
    width: 100%;
    margin-top: 30px;
    border-radius: 20px;
    font-family: "Libre Franklin", sans-serif;
  
}
.tabla-reg{
    margin-top: 15px;
    border-radius: 10px !important;
    border: 1px solid #F0EFF4 ;
    overflow: scroll;
    
}
.tabla-reg thead{
    font-size: 1.2rem;
    background-color: #F0EFF4;
    
}
.tabla-reg tbody{
    overflow: scroll;
    height: 2rem;
}
.tabla-reg tbody tr{
    border-bottom: 1px solid #dadada !important;
}
.tabla-reg tbody tr td{
    font-size: 1rem;
    font-weight: 600;
}
.header-fichas__aprendiz{
    margin-bottom: 1rem;
}
#reg, #d-empresa, #regresar{
    border-radius: 5px;
}
#fecha_exp, #fecha-nac, #fin{
    display: flex;
}
#eliminar-aprendiz{
    border-radius: 5px;
    background-color: #f44336;
}
#editar-aprendiz{
    border-radius: 5px;
}
#datos-emp{
    margin-top: 20px;
}
.swal2-actions input{
    margin: 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 0.9rem;
}
.swal2-label{
    width: 100%;
    text-align: left;
    margin-bottom: 8px;
}

.buttons-opciones{
    display: flex;
    justify-content: space-between;
}
.info-formacion{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 5rem;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 2rem;
}
.info-formacion img{
    width: 150px;
    
}
.informacion-aprendiz{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  

}
.nombre-documento{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 5rem;

}
.nombre-aprendiz{
    font-size: 1.5rem;
}

  
.botones-container {
    display: flex;
    margin-top: 2rem;
}


.container-datos-aprendiz{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 80%;
}

.aprendiz-data, .contacto, .bitacoras {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.aprendiz-data h2, .contacto h2, .bitacoras h2 {
    font-size: 20px;
    margin-bottom: 10px;
}


/* .bitacoras {
    grid-column: 1/ span 3;
} */

.bitacoras {
    grid-column: 1/ span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.bitacoras-header {
    grid-column: 1 / span 3; /* Abarca las 3 columnas de la cuadrícula */
    text-align: center; /* Centra el texto horizontalmente */
    margin: 0 0 10px; /* Agrega un margen inferior para separar el título de los checkboxes */
}



.input-field input{
    width: 100% !important;
    padding: 10px;
   
    background-color: #f0f0f0;
    border-radius: 5px;
}

.titulo-empresa{
    width: 100%;
    background-color: #f0f0f0;
    margin-top: 2rem;
    text-align: center;
    font-weight: 500;
    padding: 2px;
}
.btn-group{
    width: 100%;
    margin-top: 1rem;
    
   
   
}
.btn-group a:hover{
    border: none !important;
}
.btn-group a {
    background-color: transparent !important;
    border: 1px solid #f8f8f8;
    font-weight: 600;
    background-color: var(--color-iconos) !important;
}
/* Cambiar el color de fondo de los botones cuando están activos */
.btn-group a.active,
.btn-group a:focus {
    background-color: #39A900 !important; /* Reemplaza "your_color" con el color deseado */
    color: #fff !important; /* Cambia el color del texto si es necesario */
    border: none !important;
    outline: none !important;
}

.tabla-scroll{
    max-height: 700px; /* Ajusta la altura según sea necesario */
    overflow-y: auto; /* Permite el desplazamiento vertical */
    flex: 1;
  
}
/* Estilo para el encabezado fijo */
.tabla-reg th {
  
    position: sticky;
    top: 0;
    z-index: 1;
  }

@media only screen and (max-width: 768px) {
    .nombre-documento{
        margin: 0px;
        width: 100%;
       
        border-bottom: 1px solid #ccc ;
        margin-bottom: 5px;
    }
    .info-formacion img{
        width: 100px;
        display: none;
    }
    .info-formacion{
        gap: 0px;
        margin-top: 1rem;
        /* flex-direction: column;
        align-items: normal;
        justify-content: center; */
        margin-bottom: 10px;
        flex-direction: column;
        align-items:initial;
    }
    .container-datos-aprendiz{
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 8px;
    }
    .container-uno{
        width: 100%;
    }
    #header{
        font-size: 25px;
    }
    .btn-group{
       display: grid !important;
       grid-template-columns: 1fr 1fr;
       margin-top: 3px;
       border-bottom: #ccc 1px solid;
     
    }
    .btn-group a{
        height: 2rem !important;
        border-radius: 5px;
        margin-bottom: 10px;
       
     }
     .nombre-aprendiz{
        font-size: 18px;
     }
    
    

}