@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Work Sans", sans-serif;
}
body{
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-color: #fff;   
}

.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
.container-info-cuenta{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh; 
    /* background-color: #cccccc79; */
   
    padding: 5px;

}

.datos{
    width: 70%;
    height: 50%;
    margin-top: 23px;
    background-color: #F0EFF4;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(41, 41, 41, 0.2); 
}

.nombre-usuario{
    margin-top: 20px;
    /* font-size: 20px; */
    text-align: center;
}
.bienvenido{
    font-size: 3rem;
    margin: 0px;
}
.titulo{
    font-size: 20px;
    text-align: center;
}
.h3{
    font-size: 18px;
    margin-left: 10px;
    
}
input{
    height: 27px;
}
.guardar{
    height: 70px;
    width: 150px;
}

/* .btn-modificar{
    background-color: #39a900;
    color: #fff;
    margin-left: 33%;
    width: 35%;
    height: 30px;
    border: none;
    border-radius: 5px;
}
.btn-modificar:hover{
    background-color: #38a900d3;
    cursor: pointer; 
} */
  