body{
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-color: #fff;   
}


.contenedor{
    width: 100%;
    display: flex;
    height: 100vh;
    top: 22vh !important;
    place-content: center;
    
    

}
.fichas{
   width: 100%;
   margin-top: 40rem;
   margin-bottom: 0px;
}
.fichas , h2{
  text-align: center;
  margin-bottom: 2rem;
}
.buscar{
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-top: auto;
}
.buscar img{
    margin-right: 10px;
    width: 25px;
}
.btn-buscar{
  width: 6rem;
  background-color: var(--color-iconos);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 1.5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s;
}
.cerrar-sesion{
  color: #fff;
}

.form-control{
    margin-left: 10px;
    width: 200px;
    height: 25px;
    
} 
.contendor-principal-info{
    display: grid;
    place-content: center;
    width: 70%;
    margin-top: 22vh !important;
    margin-left: 8rem;
    
}

.info-fichas{
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.rectangulo-ficha {
  width: 200px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #e2e2e2;
  margin-left: 43px;
  margin-bottom: 5px;
}
.rectangulo-ficha:hover{
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
.logo-info{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e2e2e2;
  padding: 10px;
}
.texto-info{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.aprendiz,.title2, .ficha, .title1{
  margin: 0;
}
.title1{
  color: black;
  font-weight:600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  font-weight: 600;
  
}
.title2{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.aprendiz{
  color: #8b8a8a;
}
.codigo-ficha{
  display: flex;
  align-items: center;
  gap: 10px;
}

.ficha{
  color: #8b8a8a;
}
.numero-ficha{
  margin: 0;
}
  
  