@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Work Sans Regular", sans-serif;
}



.container{
    margin-top: 0px !important;
    padding-top: 0px !important;
   

}
.fichas{
   width: 100%;
   margin-bottom: 0px;
   margin-top: 10px;
}
.fichas , h2{
  text-align: center;

}
.buscar{
    display: flex;
    align-items: center;
    margin-right: 5px;
    width: 50%;
    height: 3rem;
    justify-content: center;
    
}
.buscar i{
    margin-right: 10px;
    font-size: 25px;
    color: var(--color-iconos);
}
.buscar input{
  height: 2rem;
  margin-left: 2rem;
  background-color: transparent !important;
}
.btn-buscar{
  width: 6rem;
  background-color: var(--color-iconos);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 1.5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s;
}
.cerrar-sesion{
  color: white;
  font-weight: 600;
  font-size: 1rem;
}

.form-control{
    margin-left: 10px;
    width: 200px;
    height: 25px;
    
} 
.contendor-principal-info{
    display: flex;
    flex-direction: column;
    width: 100%;
   
  
    
}

.info-fichas{
  margin-top: 10px;
  /* display: flex; */
  flex-wrap: wrap;
  width: 100%;
  height: 25rem;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;



}
.rectangulo-ficha {
  width: 200px;
  padding: 15px;

  border-radius: 10px;
  border: 1.5px solid rgba(0, 0, 0, .05) ;
  margin-bottom: 5px;
  height: 16rem;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
.rectangulo-ficha:hover{
  
   box-shadow: 0px 0px 8px rgba(41, 41, 41, 0.2); 
}
.logo-info{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e2e2e2;
  padding: 2px;
}
.texto-info{
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  gap: 10px;
  
}

.aprendiz,.title2, .ficha, .title1{
  margin: 0;
}
.title1{
  color: black;
  font-weight:600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  font-weight: 600;
  
}
.title2{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
}
.aprendiz{
  color: #8b8a8a;
}
.codigo-ficha{
  display: flex;
  align-items: center;
  gap: 10px;
}

.ficha{
  color: #8b8a8a;
}
.numero-ficha{
  margin: 0;
  color: #000;
}
  
.ficha-info{
  text-decoration: none;
}
.fichas h1{
  margin-left: 0px;
  font-size: 2.2rem;
}
@media only screen and (max-width: 768px) {
  .buscar{
    width: 100%;
  }
  .btn-buscar{
    width: 10rem;
  }
  .info-fichas{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
  

  }
  .rectangulo-ficha{
    margin-left: 0px;
    display: flex;
    width: 100%;
    height: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    gap: 5px;
   
  }
  .rectangulo-ficha img{
    width: 3rem;
    height: 3rem;
  }
  .texto-info{
    gap: 0px;
    text-overflow: ellipsis;

  }
  .title2{
    display: none;
  }
  .title1{
    text-overflow: ellipsis;
  }
  .buscar input{
   margin-left: 0px;
  }
  .buscar label{
    display: none;
  }
  .fichas h1{
    font-size: 1.4rem;
   width: 100%;
  }
  .logo-info{
    border: none;
    align-items: center;
  }
  .contenedor-lista .ficha{
    height: 4.5rem;
  }
}