body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .imagen-planeacion {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 60rem;
    overflow: scroll;
  
  }
  .input-check{
    width: 3rem !important;
  }
  .imagen-planeacion input[type='checkbox']{
    height: 2rem !important;
  }
  .factores-tecnicos input[type='checkbox']{
    height: 2rem !important;
  }
  .hearder-formato{
    /* display: grid;
    grid-template-columns: 20rem 1fr ;
    border: 1px solid black;
    justify-content: space-between;
    width: 100%;
    place-content: center;
    padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .img-header{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-header img{
    width: 10rem;
  }
  .hearder-formato h4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
   
  }
  .hearder-formato img{
    width: 20rem;
  }
  .info-titulo{
    font-size: 1.8rem;
    font-weight: 600;
  }
  .titulo2{
    grid-area: titulo;
    border-bottom: 1px solid black;
  }
  .informacion-general ul{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .informacion-general li{
    display: grid;
    grid-template-columns: 13rem 1fr;
    height: 4rem;
    align-items: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }
  .informacion-general label{
    height: 98%;
    display: flex;
    align-items: center;
    background-color: #dcdcdc

;
    border-right: 1px solid black ;
    margin: 0px;
    font-size: 16px;
    padding-left: 12px;

  }
  .informacion-general input{
    background-color: #fff;
    height: 100%;
  }

  .regional, .centro{
    border-top: 1px solid black;
  }



  .datos-aprendiz, .ente-coformador {
    display: grid;
    grid-template-columns: 12rem 1fr;
    padding: 0px !important;
  
    border-top: 0px
}

.datos-aprendiz ul, .ente-coformador ul {
    list-style: none;
    height: 100%;
    padding: 0px;
    margin-bottom: 0px;
}

.datos-aprendiz h5, .ente-coformador h5 {
    display: flex;
    align-items: center;
    background-color: #dcdcdc
;
    padding: 0px;
    border: 1px solid black;
    margin-bottom: 0px;
}
.datos-aprendiz h5{
  border-bottom: none;
  border-top: none;
}

.datos-aprendiz li, .ente-coformador li {
    display: grid;
    grid-template-columns: 8rem 1fr;
    border-bottom: 0.5px solid #000;
    border-right: 0.5px solid #000

;
}

.input-centro{
  border-right: 1px solid black;
}
.datos-aprendiz label, .ente-coformador label {
    border-right: 1px solid black;
    background-color: #dcdcdc;
    padding-left: 5px
    
    

;
}
.th-head-planeacion{
  background-color: #dcdcdc !important;
}
.datos-aprendiz input, .ente-coformador input {
    background-color: #fff;
    border: none;
    border-radius: 0px;
}
  
  h1, h2 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  h1 {
    font-size: 24px;
    color: #000;
  }
  
  h2 {
    font-size: 18px;
    color: #444;
  }
  
  p {
    margin-bottom: 20px;
  }
  

  
 
  
.btn-generar-alerta {
    padding: 10px 20px;
    border: 1px solid #dcdcdc

;
    border-radius: 5px;
    background-color: #ddd;
    cursor: pointer;
  
    &:hover {
      background-color: #bbb;
    }
  }
  
  .informacion-general,
  .datos-aprendiz,
  .ente-coformador {
    border-radius: 5px;
    /* border-collapse: collapse; */
  }
  


  .contenedor-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .titulo {
    grid-column: 1 / span 3;
    font-size: 24px;
    font-weight: bold;
  }
  
  
  
  .actividades,
  .evidencias,
  .recoleccion,
  .firmas {
    border: 1px solid black; 
    padding: 5px;
  }
  
  .lista-actividades,
  .lista-evidencias {
    display: flex;
    flex-direction: column;
  }
  
 
  


  
  textarea {
    width: calc(100% - 10px);
  }
  
  /* input[type="text"] {
    width: calc(100% - 10px);
  } */
  
  .planeacion{
   
    border: 1px solid black;

    margin-top: 1rem;
    grid-template-columns: 50% 1fr 1fr;
  
    grid-template-areas: 
    "titulo titulo titulo"
    "header header header"
    "actividad evidencia recoleccion"
    "hola hola hola"
    "observacion observacion observacion"
    "firmas firmas firmas"
    ;
  }
  .planeacion .titulo{
    grid-area: header;
  
  }
  .actividades{
    grid-area: actividad;
    height: 7rem;
    background-color: #dcdcdc

;
  }
  .evidencias{
    grid-area: evidencia;
    display: flex;
    align-items: center;
    background-color: #dcdcdc

;
  }
  .recoleccion{
    grid-area: recoleccion;
    display: grid;
    padding: 0px;
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; */
    background-color: #dcdcdc

;
  }
  .subtitulo h6{
    text-align: center;
    grid-area: titulo;
  }


  .campo1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #dcdcdc

;

    /* border-right: 1px solid black; */
  }
  .campos {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr);
    border-top: 1px solid  black; */

    grid-template-areas: 
    "col1 col2";
    /* border-top: 1px solid black; */


  
  }
  .subtitulo2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid black;
  }
  
 .evidencia-section{
  grid-area: hola;
  display: grid;
  grid-template-columns: 50% 40% 1fr;
  grid-template-areas: 
  "ev ev ev";
  /* border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black; */

 }

.input-activi{
  height: 2.5rem;
  background-color: white !important;
  border: none;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-radius: 0px;
}
.reco{
  display: grid;
  grid-template-columns: 50% 50%;
}
.observaciones{
  grid-area: observacion;
  padding: 5px;
  height: 5rem;
  border-bottom: 1px solid black;
}
.observaciones textarea{
  border: none;
}
.observaciones .subtitulo, .subtitulo h6, .subtitulo2 h6{
  font-weight: 600;
}

.firmas{
  grid-area: firmas;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  border: none;
}
.firmas input{
  border: none;
}
  

/* seguimiento */
.seguimiento{
  display: grid;

  grid-template-areas:
  
  "segui segui segui"
  "tipo  tipo  tipo "
  "fact fact fact"
  "info info info"
  "seg-observ seg-observ seg-observ"
  "seg-observ-aprendiz seg-observ-aprendiz seg-observ-aprendiz"

  ;
  border: 1px solid black;
  margin-top: 2rem;
}
.titulo-seguimiento{
  grid-area: segui;
}
.tipo-informe{
  grid-area: tipo;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "informe periodo";
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 5rem;
}
.informe{
  display: grid;
  grid-template-columns: 50% 50%; 
  width: 100%;
  align-items: center;


}
.parcial{
  display: flex;
  width: 100%;
  align-items: center;
  
}
.informe h6{
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0px;
  background-color: #dcdcdc;
  width: 100%;
  padding-left: 10px !important;



}

.parcial h6{
  margin: 0px;
  margin-left: 5px;
  background-color: white!important;
  width: 100%;
}
.parcial input{
  margin: 0px;
  border: none;
  width: 100%;
}

.margin-botton{
  border-bottom: 1px solid black;
}
.informe section{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  height: 100%;

}
.borde-right{
  border-right: 1px solid black;
}
.factores{
  grid-area: fact;
  display: grid;
  grid-template-areas: 
  "h h h"
  "h-fact h-fact h-fact"
  "ff ff ff"
  "tc tc tc"
  ;
}

.factores-tecnicos{
  grid-area: info;
  display: grid;
  grid-template-areas: 
  "x x x"
  "l l l"
  "z z z"
  ;
}
.title-factores{
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid black;
  width: 100%;
  background-color: #dcdcdc

;
  grid-area: h;
}
.title-factores-tecnicos{
  grid-area: x;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid black;
  width: 100%;
  background-color: #dcdcdc

;
}
.head-factores{
  grid-area: h-fact;
  display: grid;
  grid-template-columns: 20% 40% 20% 20%;
  grid-template-areas:  
  "variable descripcion valoracion obse ";
  place-items: center;
  height: 6rem;
  border-bottom: 1px solid black;
  background-color: #dcdcdc

;
}

.head-factores-tecnicos{
  grid-area: l;
  display: grid;
  grid-template-columns: 20% 40% 20% 20%;
  grid-template-areas:  
  "variable descripcion valoracion obse ";
  place-items: center;
  height: 6rem;
  border-bottom: 1px solid black;
  background-color: #dcdcdc

;
}
.valoracion{
  height: 100%;
  display: grid;
  grid-template-areas: 
  "va va"
  "sact  por";
  align-items: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  

}
.titulo-por-mejorar{
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.titulo-valoracion{
  grid-area: va;
  text-align: center;
  border-bottom: 1px solid black;
}
.titulo-sactisfactor{
  grid-area: sact;
  height: 100%;

  border-right: 1px solid black;
  display: flex;
  align-items: center;
  padding: 3px;

}
.titulo-por-mejorar{
  grid-area: por;
}
h5, h6, p, h2{
  margin: 0px !important;
}
.variable{
border-right: 1px solid black ;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.actividades-evidencias{
  grid-area: ff;

}
.actividades-evidencias-tecnicos{
  grid-area: z;
}
.info-factores{
  display: grid;
  grid-template-columns: 20% 40% 20% 20%; 
  place-items: center;
  border-bottom: 1px solid black;

}
.descrip{
  width: 100%;
  height: 100%;
}
.t-variables{
  background-color: #dcdcdc

;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  padding: 10px;
  border-right: 1px solid black;
}

.valoracion-check{
  display: grid;
  grid-template-columns: 7.4rem 3rem;
  width: 100%;
  height: 100%;
  align-items: center;
  border-right: 1px solid black;
}

.valoracion-check .input-1{
  border-right: 1px solid black;
  height: 100%;
  display: flex;
  align-items: center;
}
.descrip{
  padding: 5px;
  border-right: 1px solid black;
}
.observaciones-seguimiento{
  grid-area: seg-observ;
  border-bottom: 1px solid black;
  padding: 10px;
}
.observaciones-seguimiento textarea{
  border: none;
}
.observaciones-seguimiento-aprendiz{
  grid-area: seg-observ-aprendiz;
  padding: 10px;
}
.observaciones-seguimiento-aprendiz textarea{
  border: none;
}


/* estilos para evaluacion */
.evaluacion{
  display: grid;
    border: 1px solid black;

    margin-top: 1rem;
    grid-template-columns: 50% 1fr 1fr;
  
    grid-template-areas: 
    "titulo titulo titulo"
    "header header header"
    "juicio juicio juicio"
    "reco reco reco"
    "observacion observacion observacion"
    "firmas firmas firmas"
    ;
}
.espacio-div{
  grid-area: header;
  width: 100%;
  background-color: #dcdcdc

;
  height: 2rem;
  border-bottom: 1px solid black;
}
.juicio-evaluativo{
  grid-area:juicio ;
  display: grid;
  grid-template-columns: 25% 25% 30% ;
align-items: center;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid black;
  padding: 5px;
}
.div-juicio{
  display: flex;
  align-items: center;
  gap: 10px;
  
}
.div-juicio input{
  width: 2rem;
}
.reconocimiento{
  grid-area: reco;
  border-bottom: 1px solid black;

}
.reconocimiento .div-reco{
  display: flex;
  gap: 10px;
  padding-top: 5px;
  padding-left: 5px;
  align-items: center;

}
.reconocimiento .div-reco div{
  display: flex;
  align-items: center;
  gap: 10px;
}
.especificacion{
  padding: 5px;
}
.especificacion li{
  margin-left: 1rem;
}
.firmas-evaluacion{
    grid-area: firmas;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px;
}
.btns-descargar-pdf{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 1.5rem;
  margin-bottom: 1rem;
}